gradle/
*/gradle/
**/gradle/

.iml
*.iml

.lock
*.lock
.idea/
*/.idea/
**/.idea/
.metadata
*.metadata

.DS_Store
.dart_tool/

.packages
.pub/

build/
*/build/
**/build/
logs/
*/logs/
**/logs/
bin/
*/bin/
**/bin/
.project
*/.project
**/.project
.classpath
*/.classpath
**/.classpath
.settings/
*/.settings/
**/.settings/

obj/
*/obj/
**/obj/
